<ul class="list-group">

  <% if user_signed_in? and @user.id == current_user.id %>  
    <% unless current_page?(controller: 'messages', action: 'index') %>
      <li class="list-group-item">
        <%= link_to mailboxer_messages_path(box: "inbox") do %>
          <i class="glyphicon glyphicon-envelope"></i>
          <%= t('nlt.view_messages') %>
        <% end %>
      </li>
    <% end %>
    <% unless current_page?(controller: 'users', action: 'profile', username: @user.username) %>
      <li class="list-group-item">
        <%= link_to profile_path(@user.username) do %>
          <i class="glyphicon glyphicon-user"></i>
          <%= t('nlt.view_profile') %>
        <% end %>
      </li>
    <% end %>
    <% unless current_page?(controller: 'registrations', action: 'edit') %>
      <li class="list-group-item">
        <%= link_to user_edit_path(@user) do %>
          <i class="glyphicon glyphicon-pencil"></i>
          <%= t('nlt.profile_edit') %>
        <% end %>
      </li>
    <% end %>
  <% end %>

  <% unless current_user == @user %>
    <li class="list-group-item">
      <%= link_to message_new_path(@user.id) do %>
        <i class="glyphicon glyphicon-envelope"></i>
        <%= t('nlt.send_a_message_to') %> 
      <% end %>
    </li>
  <% end %>

  <% if user_signed_in? %>
    <% unless current_user == @user %>
      <li class="list-group-item">
      <% if current_user.is_friend? @user %>
        <%= link_to destroy_friend_path(@user.id), method: 'post' do %>
          <i class="glyphicon glyphicon-remove"></i>
          <%= t('nlt.profile_actions.friend.delete', username: @user.username) %>
        <% end %>
      <% else %>
        <%= link_to add_friend_path(@user.id), method: 'post' do %>
          <i class="glyphicon glyphicon-ok"></i>
          <%= t('nlt.profile_actions.friend.add', username: @user.username) %>
        <% end %>
      <% end %>
      </li>
    <% end %>
  <% end %>

  <% if can? :lock, @user %>
    <li class="list-group-item">
      <% if @user.locked? %>
        <%= link_to unlock_user_path(@user.id), data: {confirm: "¿Estas seguro que quieres desbloquear a este usuario? Podrá volver iniciar sesión."} do %>
          <i class="glyphicon glyphicon-unlock"></i>
          <%= t('nlt.admin.unlock_user') %>
        <% end %>
      <% else %>
        <%= link_to lock_user_path(@user.id), data: {confirm: "¿Estas seguro que quieres bloquear a este usuario? No podrá iniciar sesión."} do %>
          <i class="glyphicon glyphicon-lock"></i>
          <%= t('nlt.admin.lock_user') %>
        <% end %>
      <% end %>
    </li>
  <% end %>

  <% unless user_signed_in? and @user.id == current_user.id %>  
    <% if can? :become, @user %>
      <li class="list-group-item">
        <%= link_to become_user_path(@user.id) do %>
          <i class="glyphicon glyphicon-user"></i>
          <%= t('nlt.admin.become_user') %>
        <% end %>
      </li>
    <% end %>
  <% end %>

</ul>
