<ul class="nav nav-pills nav-justified">
  <li class="<%= "active" if status_scope == "available" %>">
    <%= link_to t('nlt.available'), url_for(type: 'give', status: 'available') %>
  </li>
  <li class="<%= "active" if status_scope == "booked" %>">
    <%= link_to t('nlt.booked'), url_for(type: 'give', status: 'booked') %>
  </li>
  <li class="<%= "active" if status_scope == "delivered" %>">
    <%= link_to t('nlt.delivered'), url_for(type: 'give', status: 'delivered') %>
  </li>
</ul>
